.App {
  margin: 0px;
  display: flex;
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Menu {
  /* background-color: rgb(86, 112, 112); */
  /* display: flex; */
  height: 745px;
  width: 208px;
  font-size: 16px;
  border-right: 1px solid rgb(218, 218, 218);
  box-shadow: -5px 0px 15px;
}

.Div_Logo {
  /* background-color: aqua; */
  height: 100px;
  width: 208px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Logo {
  height: 57px;
  width: 57px;
  border-radius: 5px;
}

.Div_Listagem {
  /* background-color: blue; */
  display: flex;
  height: 200px;
  width: 208px;
  align-items: center;
  justify-content: center;
  /* list-style: none; */
  line-height: 40px;
}
.Listagem {
  list-style: none;
}

.Links_Menu {
  text-decoration: none;
  color: #949494;
}
.Links_Menu:hover,
.Button_Sair:hover {
  color: #ffc839;
}

.Div_Button_Sair {
  /* background-color: blueviolet; */
  height: 100px;
  height: 436px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.Button_Sair {
  text-decoration: none;
  margin: 10px;
  color: #949494;
}

.Div_dashboard {
  width: 100%;
  height: 735px;
  /* background-color: rgb(216, 225, 225); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.Form_Pesquisa {
  margin-top: 50px;
  display: flex;
  height: 50px;
  max-width: 700px;
  border-radius: 8px;
  text-align: start;
  background-color: #fbfbfb;
  border: 0.5px solid #e6e6e6;
}

.Input {
  border: none;
  background-color: #fbfbfb;
  width: 1000px;
  padding-left: 10px;
  font-size: 15px;
}

.DivIcon {
  width: 100px;
  height: 50px;
  /* background-color: #ffc839; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.FiPlusCircle {
  color: black;
  height: 25px;
  width: 25px;
}

.table {
  margin-top: 100px;
  border-radius: 10px;
  width: 700px;
  height: 450px;
  border: 1px solid #bfbfbf;
  border-collapse: collapse;
  text-align: center;
  /* background-color: #ffc839; */
  /* line-height: 10px; */
}

.TH {
  /* padding: 10px; */
}

.TD {
  border-right: 1px solid #bfbfbf;
  padding-top: 60px;
}

.TBODY {
  /* background-color: #ffc839; */
  border: 1px solid #bfbfbf;
}
